<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mvc_0603</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- serlvet -->
  <servlet>
  	<servlet-name>action</servlet-name>
  	<servlet-class>struts.action.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>action</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 配置文件 -->
  <context-param>
  	<param-name>struts-config</param-name>
  	<param-value>/WEB-INF/struts-config.xml</param-value>
  </context-param>
  
  <!-- 监听器 -->
  <listener>
  	<listener-class>struts.vo.ActionListener</listener-class>
  </listener>
</web-app>